/* ALL */

* {
    margin: 0 0 auto 0;
    position: relative;
    box-sizing: border-box;
    color: slategrey;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #101818;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

/* HEADER */

header {
    /*border: 1px solid black;*/
    text-align: center;
    margin:0;
    height: 20%;
    width: 100%;
}

header #health{
    background-color: red;
    height: 5px;
    width: 80px;
}

header #stamina{
    background-color: forestgreen;
    height: 5px;
    width: 40px;
}

header #bloodVial img{
    height: 20%;
    width: 20%;
}

/* BODY */

main {
    height: 80%;
}

/* SIDE MENU */

aside {
    /*border: 1px solid black;*/
    text-align: center;
    float: left;
    height: 100%;
}

aside .label {
    color: slategray;
}

aside .reset {
    color: red;
    text-shadow: 0 0 50% red;
    background-color: black;
    border: 2px outset red;

}

/* PLAY AREA */

section {
    /*border: 1px solid black;*/
    float: left;
    height: 100%;
}

section .row {
    height: 33%;
}

/* CARDS */
section .card {
    position: relative;
    display: inline-block;
    opacity: 1;
    height: 33%;
}

section .card img {
    width:100%;
    height:auto;
}

section .card .front, .card .back {
    position: absolute;
}

@keyframes back-fade {
    from {opacity:1;}
    to {opacity:0;}
}

/*
section .card .back:hover {
    animation-name: back-fade;
    animation-duration: 1s;
    opacity: 0;
}*/

/*
18 cards, 9 matches

*/
